<% flash_messages %>

<div class="panel panel-info panel_top">
  <div class="panel-heading">
    <h4>お知らせ</h4>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <% @notifications.each do |notification| %>
        <li class="list-group-item">
          <p>
            <% if notification.introduce_flg == false %>
             管理者からの通知が届いています
             <%=  link_to "確認する" ,notification_path(notification,params: {content:notification.content })   %>
            <% else %>
              <%= notification.opponent_user.try(:username) %>さんから旅行計画の招待が来ています
              <%=  link_to "確認する" ,notification_path(notification,params: {user_id: notification.opponent_user.id, schedule_id:notification.content.to_i })   %>
            <% end %>
              <% if notification.read_flg == false %>
                <%=  link_to "既読にする" ,notification_path(notification, params: {notification_id: notification.id,read_flg:true }), :method => :put  %>
              <% else %>
               <%=  link_to "未読にする" ,notification_path(notification, params: {notification_id: notification.id,read_flg:false } ), :method => :put %>
              <% end %>
              <%=  link_to "削除する",notification_path(notification, params: {notification_id: notification.id}),:method => :delete, data: { :confirm => "招待を破棄してもよろしいでしょうか？"}  %>
          </p>
        </li>
      <% end %>
      <% if @notifications.blank?%>
        <li class="list-group-item">現在、表示するものはありません。</li>
      <% end %>
    </ul>
  </div>
</div>
<% if @chng_read_flg == true%>
  <%= link_to "既読の通知を確認",notification_index_path(read_flg: 1) %>
<% else %>
  <%= link_to "未読の通知を確認",notification_index_path(read_flg: 0) %>
<% end %>
