<div class="panel panel-info panel_top">
  <div class="panel-heading">
    <h1>お知らせ詳細</h1>
  </div>
  <div class="panel-body">
    <% if @content == nil%>
      <h2 class="pull-left"><%= @schedules.title %></h2>
    <% end %>
    <button type="button" class="btn btn-lg btn-default pull-right">
      <%= link_to '戻る', :back,data: {"turbolinks" => false} %>
    </button>
  </div>
</div>


<% if @content != nil%>
  <div class="panel panel-default">
    <div class="panel-heading">
      管理者からの連絡
    </div>
    <div class="panel-body">
      <%= @content %>
    </div>
  </div>
<% else %>

  <div class="panel panel-default">
    <% @schedules.schedule_each_dates.each do |schedule_each_date| %>
    <div class="panel-heading">
            <%= schedule_each_date.sche_date.strftime('%Y/%m/%d') %>
  	</div>
  	<div class="panel-body">
      <% if schedule_each_date.schedule_each_times.count == 0 %>
        <p>スケジュール時間帯がまだ登録されていません</p>
      <% end %>
      <ul class="list-group">
        <% schedule_each_date.schedule_each_times.each do |schedule_each_time| %>
          <li class="list-group-item">
            滞在時間:<%= schedule_each_time.from_time.strftime('%H:%M') %>〜<%= schedule_each_time.to_time.strftime('%H:%M') %>&nbsp;
            メモ:<%= schedule_each_time.memo %></br>
            場所:<%= select_tag :place, options_from_collection_for_select(@spots, :id, :name,schedule_each_time.place_id), disabled: true %>&nbsp;
            <%= link_to '場所を確認する', spot_search_path(schedule_each_time.place_id) %>
          </li>
        <% end %>
      </ul>
  	</div>
    <% end %>
    <% if @schedules.thumbnails.count != 0 %>
      <div class="panel-footer">
      <h4>画像</h4>
      <% @schedules.thumbnails.each do |thumbnail| %>
      <% if thumbnail.image? %>
            <%= image_tag thumbnail.image.url %>
          <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>
