<div class='nested-fields'>
  <%= f.hidden_field :user_id, :value => @schedule_each_date.user_id %>
  <%= f.hidden_field :schedule_id, :value => @schedule_each_date.schedule_id %>

    <div class="field">
      <%= f.label :from_time, "滞在開始時間" %>
      <%= f.time_select :from_time %>〜
      <%= f.label :to_time, "滞在終了時間" %>
      <%= f.time_select :to_time %>
    </div>
    <div class="field">
      <%= f.label :memo, "メモ" %>
      <%= f.text_field :memo %>
      <%= f.label :place_id, "場所" %>
      <%= f.select :place_id, @spots, {}, :disabled => true %>
      <%= f.hidden_field :place_id %>
      <%= link_to '場所名を選択する', spot_search_index_path(user_id: @schedule_each_date.user_id,select_link_disp: true), :onclick => "
      var prevElement1 = event.target.previousElementSibling;
      var place_id = prevElement1.getAttribute('name');
      localStorage.setItem('place_id', place_id);
      window.open(this.href, 'height=800, width=800');return false;"  %>
    </div>
    <% if @schedule_each_date.schedule_each_times.count != 0 %>
      <%= link_to_remove_association "このスケジュールを削除する", f %>
    <% end %>
</div>
