<table class="table table-striped table-hover">
<% @schedules.each do |schedule| %>
  <tr>
    <td class="">タイトル： <%= schedule.title %></td>
    <td class="">日程：<%= schedule.from_date %>〜<%= schedule.to_date %></td>
    <td class="">
      <%= link_to  edit_travel_planning_path(schedule), remote: true do  %>
        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
      <% end %>
    </td>
    <td class="">
      <%= link_to travel_planning_path(schedule), method: :delete, data: { confirm: '削除してよろしいでしょうか?' }  do   %>
        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
      <% end %>
    </td>

  </tr>
<% end %>
</table>
