<div class="modal-dialog">
  <div class="modal-content">
    <%= bootstrap_form_for(@schedule,:url => {:controller => :travel_planning, :action => :update}, remote: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">スケジュールの更新</h4>
      </div>
      <div class="modal-body">
        <div class="field">
          <%= f.text_field :title, label: "タイトル" %>
        </div>
        <div class="field">
            <%= f.date_field :from_date , label: "出発日付"%>
        </div>
            〜
          <div class="field">
              <%= f.date_field :to_date, label: "最終日付" %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <!-- ユーザテーブル作成後編集し確認 -->
        <%= f.hidden_field :user_id, :value =>  '1' %>
        <%= f.primary "更新" %>
      </div>
    <% end %>
  </div>
</div>
